<!--<!DOCTYPE html>-->
<!--<html lang="az">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Ödəniş Uğurludur</title>-->
<!--    <style>-->
<!--        body {-->
<!--            background: linear-gradient(120deg, #a1c4fd, #c2e9fb);-->
<!--            display: flex;-->
<!--            justify-content: center;-->
<!--            align-items: center;-->
<!--            height: 100vh;-->
<!--            font-family: Arial, sans-serif;-->
<!--            margin: 0;-->
<!--        }-->
<!--        .message-box {-->
<!--            background-color: #fff;-->
<!--            padding: 40px 60px;-->
<!--            border-radius: 12px;-->
<!--            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);-->
<!--            text-align: center;-->
<!--        }-->
<!--        h1 {-->
<!--            color: #2e7d32;-->
<!--        }-->
<!--        p {-->
<!--            color: #555;-->
<!--            font-size: 18px;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="message-box">-->
<!--    <h1>Ödəniş uğurla tamamlandı!</h1>-->
<!--    <p>Sifarişiniz üçün təşəkkür edirik.</p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
